
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/GaldeanoRegular.ttf"); font-family : "Galdeano"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/KablammoRegularBloop.ttf"); font-family : "Kablammo"; font-weight : 400;  }